*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 70px;
    background-color: rgb(157, 113, 198);
    color: aliceblue;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
#navbar{
    text-decoration: none;
    color: aliceblue;
}
#upper_box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 100px;
    height: 100%;
}
.main{
    width: 100%;
    height: 800px;
    background-color: rgb(161, 158, 158);
    text-align: center;
}
#main{
    width: 90%;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.lower_box{
     /* width: 100%;
     height: 350px;
     background-color: rgb(161, 158, 158);
     font-size: 30px; */
}
.icon_name{
    display: flex;
    justify-content: space-evenly;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
td,th{
    border: 1px solid black ;
    height: 30px;
}
thead{
    background-color: rgb(100, 100, 208);
}
.padding{
    padding-left: 30px;
    padding-top: 20px;
    width: 95%;
    color: grey;
}
ul{
    padding-left: 15px;
}
footer{
    width: 100%;
    height: 70px;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 25px;
}